<tr>
  <td class="employee">
    <span class="content"><%= employee.name %></span>
 	<span class="content"><%= employee.doe %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(employee.created_at) %> ago.
    </span>
  </td>
</tr>