<div id="main">
	

	<div id="leftbox">
		<b> Features</b>
		<ul>	
		<li>Get notified when employee reaches one year</li>
		<li>Notification when max vacation days used</li>
		<li>Generate report of Vacation/Sick days used</li>
		</ul>
	</div>

	<div id="rightbox">
		<b>How VacayTracker helps?</b>
		<%= image_tag "report.png", :width=> 350 %>
	</div>

</div>


	<%=link_to "Pricing & Signup", signup_path, :class => "signup_button round" %>

