<div id="plans">
	<table border="1">
	  <tr>
	    <th>Small (10-49 employees)</th>
	    <th>Medium (50-149 employees)</th>
		<th>Large (150+ employees)</th>
	  </tr>
	  <tr>
	    <td>$19/month </td>
	    <td>$$39/month</td>
		<td>$$99/month</td>
	  </tr>
	</table>
</div>


<div id="priceUp">
	<%=link_to "Signup", signup_path %>

</div>