Hi <%= @user.name%>,
<p>The following employees have their 1st anniversaries today in ONE WEEK.</p>

<table>
  <tr>
    <th>Employee </th>
    <th>Date</th>

  </tr>
  <% for em in @emNameAnni %>
    <tr>
      <td><%=h em %></td>
	  <td><%= Time.now %> </td>
    </tr>
    </tr>
  <% end %>
</table>
<%#= 
@emArray.name

	
	%>
<%#= ann.name %>

<%# end %>

