Hi <%= @user.name%>,
<p>The following employees has exceeded their allotted vacation days.</p>

<table>
  <tr> 
    <th>Employee Name </th>
    <th>Vacation Days</th>

  </tr>
  <% for em in @emName %>
    <tr>
      <td><%= h em %></td>
	  <td><%= Time.now%> </td>
    </tr>
    </tr>
  <% end %>
</table>
<%#= 
@emArray.name

	
	%>
<%#= ann.name %>

<%# end %>

