Hi <%= @user.name%>,
<p>Employees celebrating their anniversary today.</p>

<table>
  <tr>
    <th><b>Name </b></th>
  </tr>
  <% for em in @emNameAnni %>
    <tr>
    <ol>
      <li><td><%=h em %></td></li>
    </ol>
    </tr>
    </tr>
  <% end %>
</table>
<%#= 
@emArray.name

	
	%>
<%#= ann.name %>

<%# end %>

