Hi <%= @user.name%>,
<p>The following employees has exceeded their allotted sick days.</p>

<table>
  <tr>
    <th>Employee Name</th>
    <th>Sick Days</th>

  </tr>
  <% for em in @emNameSick %>
    <tr>
      <td><%=h em %></td>
	  <td><%= Time.now %> </td>
    </tr>
    </tr>
  <% end %>
</table>
<%#= 
@emArray.name

	
	%>
<%#= ann.name %>

<%# end %>

