<footer>
  <nav class = "round">
	<ul>
		VacayTracker.com 2011
		<li><%= link_to "Twitter" ,'/set'%></li>
		<li><%= link_to "Terms of Service" ,'/set'%></li>
		<li><%= link_to "Privacy Policy" ,'/set'%></li>
	</ul>
  </nav>
</footer>