<navlg class="round">
     <ul>
		<% if signed_in? %>
			<a href="/"> Dashboard</a>
			<a href="/manages">Manage Employees</a>
			<a href="/set">Set Prompts</a>
			<a href="/report">Generate Reports</a>
		<% end %>
	
     </ul>
   </navlg>